<!--STEP 16 DESIGN CALLOUTS-->
<!--Design a grid for this callout-->
<div class="callout callout--primary">
	<div class="grid grid--1x2">
		<div class="callout__content">
			<h2 class="callout__heading">Ready to Get Started</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores saepe
				similique ratione ut officiis recusandae, culpa, commodi dolor nihil,
				sequi praesentium! Tempora labore numquam id distinctio odio sint, autem
				omnis.
			</p>
		</div>
		<a
			href="#"
			class="btn btn--secondary btn--stretched"
			>Get Started</a
		>
	</div>
</div>
