<!--
			1. scroll to the bottom of svgsprit.es after download
			2. copy the svg element to the body html
		
			<svg class="icon">
			<use xlink:href="#wordpress"></use>
			</svg>

			3. include the file path of sprite.svg to locate
			wordpress icon "images/sprite.svg#wordpress"
		-->
<span class="icon-container">
	<!--try remove icon--primary class="icon icon--primary", 
				to see the flexibility of separating skin from structure-->
	<svg class="icon icon--primary">
		<use xlink:href="images/sprite.svg#wordpress"></use>
	</svg>
</span>
