<!--STEP 12 DESIGN MEDIA COMPONENTS-->
<!--shortcut: .media>.media__image+.media_body-->
<div class="media">
	<div class="media__image">
		<!--c&p icon from icon.html but remove icon-container class-->
		<svg class="icon icon--primary">
			<use xlink:href="images/sprite.svg#snap"></use>
		</svg>
	</div>
	<div class="media__body">
		<h3 class="media__title">Easy Start & Managed Updates</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aspernatur
			nobis optio ratione tenetur quam, porro nisi qui totam repellendus?
		</p>
	</div>
</div>
