<!--STEP 13 DESIGN QUOTES COMPONENTS-->
<blockquote class="quote">
	<p class="quote__text">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ut in aliquid
		quae. Voluptate totam repellendus explicabo suscipit modi cumque magni
		consequuntur at sequi ullam, eos nisi, a eum hic!
	</p>
	<!--use media component with class="media"
    in the footer-->

	<footer>
		<div class="media">
			<div class="media__image">
				<!--c&p icon from icon.html but remove icon-container class-->
				<svg class="icon icon--primary quote_line">
					<use xlink:href="images/sprite.svg#line"></use>
				</svg>
			</div>
			<div class="media__body">
				<h3 class="media__title quote__author">John Smith</h3>
				<p class="quote__organisation">TigerTail Inc</p>
			</div>
		</div>
	</footer>
</blockquote>
